nav ul{
     position:relative;
     /* height:2em; */
      /* margin:0 auto;  */
     padding:0;
     white-space:nowrap;
}
nav ul li{
     display:inline-block;
     text-align:center;
}
@media screen and (max-width: 650px){
	nav ul li{
	display:inline;
	/* text-align:center; */
	}
}	
nav ul li:nth-child(1) a{width:8em;}
nav ul li:nth-child(2) a{width:8em;}
nav ul li:nth-child(3) a{width:8em;}
nav ul li:nth-child(4) a{width:8em;}

nav ul li a{
     display:inline-block;
     box-sizing:border-box;
     padding:.4em .2em;
     /* color:#51C3FA; */
     text-decoration:none;
     text-shadow:0 1px 0 white;
     background-color:transparent;
     transition:background-color .3s ease;
	 border-bottom:3px solid rgba(0,0,0,0)
}
nav ul li a:hover{
     color:orange;
     background-color:rgba(255,255,255,.4);
     transition:background-color .3s ease .4s;
}

.active{
	border-bottom:3px solid orange;
     color:orange;
     background-color:rgba(255,255,255,.4);
     transition:background-color .3s ease .4s;
}
/* nav ul li:last-child::after{ */
     /* content:""; */
     /* position:absolute; */
     /* left:0px; */
     /* bottom:-3px; */
     /* display:block; */
     /* width:12em; */
     /* height:3px; */
     /* background:#ccc; */
     /* border-bottom:1px solid rgba(255,255,255,.8); */
     /* transition: all .5s ease; */
/* } */

/* nav ul li:hover ~ li:last-child::after,
nav ul li:last-child:hover::after{background:orange;
     content:"";
     position:absolute;
     left:0px;
     bottom:-3px;
     display:block;
     width:12em;
     height:3px;
     border-bottom:1px solid rgba(255,255,255,.8);
     transition: all .5s ease;
	 } */

nav ul li:nth-child(1):hover ~ li:last-child::after{left:0;width:12em;}
nav ul li:nth-child(2):hover ~ li:last-child::after{left:12em;width:12em;}
nav ul li:nth-child(3):hover ~ li:last-child::after{left:24em;width:12em;}
nav ul li:last-child:hover::after{left:36em;width:12em;}